

body{
	background-color: #404040;
}
#frame{
	height: 650px;
	width: 900px;
	background-color: #737373;
	border: 1px solid black;
	position: fixed; 
	top: 10%;
	right: 20%;
	left: 20%;
	bottom: 10%; 
}
#header{
	height: 12%; 
}
#menu{
	background-color: #bfbfbf; 
	height: 10%; 
	border: 1px solid #001133;
}
#menu ul{
	display: block;
	margin-top: 5px;
	margin-left: 20%; 
}
#menu ul li{
	font-size: 20px; 
	font-weight: 600; 
	list-style: none;
	padding: 5px 5px; 
	margin: 5px 15px 0px 0px; 
	text-decoration: none; 
	text-align: center;
	display: inline-block;
	background-color: #cce0ff; 
	float: left;
	width: 80px;
	height: 30px;
	border: 2px solid #001133;
	border-radius: 12%;
}
#menu ul li a:hover{
	color: #ffffff; 
}
a{
	text-decoration: none; 
}
#content{
	margin: 8% 20%; 
	height: 50%; 
	background-color: #bfbfbf; 
	border: 2px solid #001133;
	border-radius: 10%;
}
#content img{
	float: left;
	margin:	10px 10px; 
}
h1{
	font-size: 16px;
	text-indent: 80px; 
}
p{
	margin: 0px 15px 10px 15px; 
	text-indent: 20px; 
	text-align: justify; 
	font-family: serif;
	font-size: 14px;
	letter-spacing: 0.10em; 
}
footer{
	margin-top: 55%; 
	text-align: center;
	height: 40px;
	border-top: 1px solid #7C7063;
	}

